<div *ngIf="student">
  <hr />
  <label>ID: </label><br />
  <input [(ngModel)]="student.id" placeholder="id"><br />
  <label>Name: </label><br />
  <textarea [(ngModel)]="student.name" placeholder="Name"></textarea><br />
  <label>Lastname: </label><br />
  <input [(ngModel)]="student.lastname" placeholder="Lastname"><br />
  <label>Age: </label><br />
  <input [(ngModel)]="student.age" placeholder="Age"><br />
  <label>Classes: </label><br />
  <input [(ngModel)]="student.classes" placeholder="Classes"><br />
  <label>Grade: </label><br />
  <input [(ngModel)]="student.grade" placeholder="Grade"><br />
  <label>Group: </label><br />
  <input [(ngModel)]="student.group" placeholder="Group"><br />
</div>