<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{title}}!
    </h1>
</div>
<ul>
    <li>
        <h2>id: {{alumno.id}}</h2>
    </li>
    <li>
        <h2>age: {{alumno.age}}</h2>
    </li>
    <li>
        <h2>name: {{alumno.name}}</h2>
    </li>
    <li>
        <h2>lastname: {{alumno.lastname}}</h2>
    </li>
    <li>
        <h2>classes: {{alumno.classes}} </h2>
    </li>
    <li>
        <h2>grade: {{alumno.grade}}</h2>
    </li>
    <li>
        <h2>group: {{alumno.group}}</h2>
    </li>
</ul>