<div *ngIf="vehicle">
  <hr>
  <h3>Detalle:</h3>
  <label>Brand: </label>
  <input [(ngModel)]="vehicle.brand" placeholder="Brand"><br />
  <label>Model: </label>
  <input [(ngModel)]="vehicle.model" placeholder="Model"><br />
  <label>Color: </label>
  <input [(ngModel)]="vehicle.color" placeholder="Color"><br />
  <label>Plate: </label>
  <input [(ngModel)]="vehicle.plate" placeholder="Plate"><br />
  <label>Capacity: </label>
  <input [(ngModel)]="vehicle.capacity" placeholder="Capacity"><br />
  <label>Build year: </label>
  <input [(ngModel)]="vehicle.build_year" placeholder="Build year"><br />
</div>