<div *ngIf="teacher">
  <hr />
  <label>ID: </label>
  <input [(ngModel)]="teacher.id" placeholder="id"><br />
  <label>Name: </label>
  <input [(ngModel)]="teacher.name" placeholder="Name"><br />
  <label>Lastname: </label>
  <input [(ngModel)]="teacher.lastname" placeholder="Lastname"><br />
  <label>Age: </label>
  <input [(ngModel)]="teacher.age" placeholder="Age"><br />
  <label>Profession: </label>
  <input [(ngModel)]="teacher.profession" placeholder="Profession"><br />
  <label>Grades: </label>
  <input [(ngModel)]="teacher.grades" placeholder="Grades"><br />
  <label>Groups: </label>
  <input [(ngModel)]="teacher.groups" placeholder="Groups"><br />
</div>